
/* // css example */
.arrowIcon {
  background-color: rgba(222, 233, 236, 0.685);
  padding: 16px 12px 9px 12px;
  border-radius: 5px;
}

.recoveryForm{
  background-color: rgba(210, 215, 219, 0.473);
}

.recoveryForm:focus{
  box-shadow: none!important;
}

.contentBox>h3{
  margin-top: 40px;
  font-weight: 700;
}
.topContentBox{
  margin-top: 50px;
  cursor: pointer;
}



.btnImport,.disableBtn{
  width: 100%;
  margin-top: 20px;
  text-align: center;
  padding: 7px 0px 7px 20px;
  border: none;
  font-weight: 600;
  vertical-align: text-top;
  border-radius: 5px;
  background-color: #d53f8c;
  transition: 0.3s;
  color: aliceblue;
}
.disableBtn{
  background-color: #d53f8c65;
}


